<%= render template: 'projects/header' %>
<p id="notice"><%= notice %></p>

<h1 class="py-5 text-center">Editing Project</h1>
<%= render 'form', project: @project %>

<div class="container">    
  <div class="btn-toolbar" role="toolbar" role="group">
    <div class="btn-group" role="group">
      <% if admin_signed_in? %>
      <%= button_to 'View', @project, :method => "get", class: "btn btn-warning btn-sm mr-1" %>  
      <%= button_to 'Cancel', projects_path, :method => "get", class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>