<%= render template: 'projects/header' %>
<p id="notice"><%= notice %></p>
            
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Portfolio</h1>
    <p>This website was made by Ryan Beckman using ruby on rails. Below are some of the other programming projects that I have worked on.</p>
  </div>
</div>

<div class="container justify-content-center">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4 mb-4">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
        <%= button_to 'View »', project, :method => "get", class: "btn btn-info" %>
        <p class="mb-1"></p>
        <div class="btn-toolbar" role="toolbar" role="group">
          <div class="btn-group" role="group">
            <% if admin_signed_in? %>
              <%= button_to 'Edit', edit_project_path(project), :method => "get", class: "btn btn-warning btn-sm mr-1" %>
              <%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container">
  <% if admin_signed_in? %>
    <%= button_to 'New Project', new_project_path, :method => "get", class: "btn btn-success" %>
  <% end %>
</div>
